/*
Syntax error: File to import not found or unreadable: bootstrap.
              Load paths:
                /home/peter/Desktop/dasein-rails/app/assets/stylesheets
                /home/peter/Desktop/dasein-rails/app/assets/stylesheets
        on line 1 of /home/peter/Desktop/dasein-rails/app/assets/stylesheets/global.scss

1: @import "bootstrap";
2: @import "bootstrap-responsive";
3: 
4: body {
5:   padding-top: 50px;
6: }

Backtrace:
/home/peter/Desktop/dasein-rails/app/assets/stylesheets/global.scss:1
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/import_node.rb:45:in `import'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `each'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/exec.rb:432:in `watch_or_update'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/exec.rb:315:in `process_result'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/exec.rb:41:in `parse'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/exec.rb:21:in `parse!'
/home/peter/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/bin/sass:9:in `<top (required)>'
/home/peter/.rvm/gems/ruby-2.0.0-p195/bin/sass:23:in `load'
/home/peter/.rvm/gems/ruby-2.0.0-p195/bin/sass:23:in `<main>'
/home/peter/.rvm/gems/ruby-2.0.0-p195/bin/ruby_noexec_wrapper:14:in `eval'
/home/peter/.rvm/gems/ruby-2.0.0-p195/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bootstrap.\A               Load paths:\A                 /home/peter/Desktop/dasein-rails/app/assets/stylesheets\A                 /home/peter/Desktop/dasein-rails/app/assets/stylesheets\A         on line 1 of /home/peter/Desktop/dasein-rails/app/assets/stylesheets/global.scss\A \A 1: @import \"bootstrap\";\A 2: @import \"bootstrap-responsive\";\A 3: \A 4: body {\A 5:   padding-top: 50px;\A 6: }"; }
