// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Player List (index.html.erb)*/

a.player-link {
  display: block;
}

div.player-cell {
  background-color: #BFBFBF;
  border-radius: 15px;
  text-align: center;
  margin-top: 15px;
}

ul.player-info {
  list-style-type: none;
  text-align: left;
}

/* Form (_form.html.erb) */

$field-height: 50px;

.entry_field,
.entry_error {
  float: left;
  height: $field-height;
  padding: 10px;
  margin: 8px;
}

.entry_field{
  width: 300px;
  clear: left;
  background-color: #666666;
}

.entry_error {
  width: 450px;
  background-color: #F08187;
  text-align: center;
  label {
    background-color:inherit;
    font: bold italic 16px/$field-height arial;
    color: #171717;
  }
}