/* Player List (index.html.erb)*/
a.player-link {
  display: block; }

div.player-cell {
  background-color: #BFBFBF;
  border-radius: 15px;
  text-align: center;
  margin-top: 15px; }

ul.player-info {
  list-style-type: none;
  text-align: left; }

/* Form (_form.html.erb) */
.entry_field,
.entry_error {
  float: left;
  height: 50px;
  padding: 10px;
  margin: 8px; }

.entry_field {
  width: 300px;
  clear: left;
  background-color: #666666; }

.entry_error {
  width: 450px;
  background-color: #F08187;
  text-align: center; }
  .entry_error label {
    background-color: inherit;
    font: bold italic 0.32 arial;
    color: #171717; }
