<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <%= link_to "Dasein Ultimate", root_url, id: "logo" %>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to 'Roster', 'players#index' %></li>
      </ul>
    </nav>
  </div>
</header>